@import url("https://fonts.googleapis.com/css2?family=Parisienne");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker");

@font-face {
    font-family:"Parisienne";
    src: url("Parisienne.woff2");
    
}
@font-face {
    font-family: "Permanent";
    src: url("Permanent.woff2");
}




body{
    background-image: url(img/wallhaven-q2l83l.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

h1{
    color: #F1F1F1;
    padding: 20px;
    padding-top: 210px;
    
}

h3{
    color: #F1F1F1;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 15px;
    padding-top: 20px;
}


h4{
   color: white;
   font-family: 'Courier New', Courier, monospace;
   font-size: 15px;
   align-self: center;
}

.container{
    color: white;
}
a{
    color:#fff

}

.redes{
    text-align: center;
}

audio{
    color: green;
}

@media screen and (max-width: 800px) {




    body {
        background-image: url(img/wallhaven-8o9dw2.jpg);
        background-size: auto;
        background-position: center;
    
    }
    h1{
        font-family: Permanent; 
        text-align: center;
        font-size: 100%;
    }
    

    

    
}
